In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('flights_reordered.csv')

In [4]:
df.insert(0, 'flightid', range(1000, 1000 + len(df)))

In [5]:
df

,flightid,originairportid,destairportid,carrier,dayofmonth,dayofweek,departuredelay,arrivaldelay
0,1000,11433,13303,DL,19,5,-3,1
1,1001,14869,12478,DL,19,5,0,-8
2,1002,14057,14869,DL,19,5,-4,-15
3,1003,15016,11433,DL,19,5,28,24
4,1004,11193,12892,DL,19,5,-6,-11
...,...,...,...,...,...,...,...,...
2702213,2703213,13204,14869,DL,19,6,1,-3
2702214,2703214,10397,13495,DL,19,6,-2,-3
2702215,2703215,10140,10397,DL,19,6,18,9
2702216,2703216,10397,13244,DL,19,6,10,7
2702217,2703217,10397,13487,DL,19,6,0,-13

In [6]:
df.to_csv('flights_final.csv',index=False)